<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftRecord-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SwiftRecord.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FE108248194E20C300A0022A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE108252194E20C400A0022A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE10826D194E211300A0022A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE108286194E213400A0022A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE8BBA3E194E22B00007A328</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE8BBA6F194E23740007A328</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FEC89788194E2A5C005570C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FEC89792194E2A5C005570C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FEFF981F194E1CA50044843F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FEFF982A194E1CA50044843F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FEFF9840194E1CC50044843F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FEFF984A194E1CC50044843F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FEFF9875194E1DAA0044843F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
